/* common */
div.ind-group {
    font-family: anton, "arial black", sans-serif;
    display: table;

}

.ind  .trend {
    color: #555;
}

.ind .title {
    font-family: oswald, roboto, arial, sans-serif;
    text-align: center;
    color: #808080;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0px;
}

div.ind-group .link {
    cursor: pointer;
}

/* value text*/

.th .ind .center-text span.value {
    color: #555;
}

.th .ind .center-text span.unit {
    font-size: 0.75em;
    color: #777;
}

/* trend*/


.th .ind .trend img {
    margin-right: 5px;
    width: 0.8em;
}

.th .ind .title {
    font-size: 16px;
}


/* GAUGE & NUMERIC MODES */

div.ind-group.th {
    width: 100%;
    height:100%;
    padding: 0;
}

div.ind-group.th > div.row {
    display: table-row;
}

div.ind-group.th > div.row > div.ind {
    display: table-cell;
    text-align: center;
}


/* numeric mode*/

.ind.num .center-text {
    position: relative;
    text-align: center;
}


.th .ind.num .center-text .trend {
    margin-bottom: 5px;
    margin-top: -0.6em;
    font-size: 0.5em;
}

/* gauge mode */

.ind.gauge .center-text {
    position: absolute;
    text-align: center;
    top: 1.1em;
}

.th .ind.gauge .center-text div.values {
    margin: 0;
    line-height: 0.9em;
    background-color: rgba( 255,255,255,0.5);  /* compat with IE */
    display: inline-block;
    padding: 0px 3px 0px 3px;
    border-radius: 8px;
}

.th .ind.gauge .center-text .trend {
    width: 100%;
    position: relative;
    top:-0.3em;
    line-height:0.8em;
    font-size: 0.5em;
}


/* ROW MODE */

div.ind-group.tv {

}

div.ind-group.tv > div.ind {
    display: table-row;
}


.tv div.title {
    display: table-cell;
    font-size: 14px;
    text-align: left;
    padding: 1px 5px 1px 5px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    vertical-align:middle;
}

.tv div.values {
    display: table-cell;
    text-align: right;
    padding: 1px 10px 1px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

.tv .ind  span.unit {
    font-size: 0.8em;
    color: #777;
}

div.ind-group.tv div.trend {
    display: table-cell;
    border-bottom: 1px solid #ccc;
}

.tv .ind .trend img {   
    width: 0.8em;
    margin-right:3px;
}

/* TOOLTIPS */
/*
.ind .tooltip {
    position: relative;
    display: inline-block;
}*/

.ind .tooltiptext {
    font-family: roboto, sans-serif;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;
    padding: 10px 10px 3px 10px;
    position: absolute;
    margin-top: -60px;
    height: 60px;
    width: 80px;
    z-index: 1;
}

.ind:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.ind .tooltiptext div {
    margin-bottom: 10px;
}

.ind .tooltiptext img {
    width: 16px;
    margin-right: 5px;
}



/* EDITING  */

div.ind-group .btn-icon {
    cursor: pointer;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    visibility: hidden;
}

div.ind-group:hover .btn-icon {
    visibility: visible;
}

div.ind-group .btn-icon.edit {
    background-image: url('img/edit_16.png');
}

div.ind-group .btn-icon.delete {
    background-image: url('img/delete_16.png');
}

div.ind-group .btn-icon.add {
    background-image: url('img/add_16.png');
}

/* edit  gauge layout*/


div.th .btn-icon.edit {
    position: relative;
    left: 20px;
    top: -60px;
}

div.th .btn-icon.delete {
    position: relative;
    left: 20px;
    top: -60px;
}

div.th .btn-icon.add {
    display: table-cell;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* edit row layout*/
div.tv .btn-icon {
    display: table-cell;
    background-position-y: 5px;
    background-position-x: 2px;
}

div.tv .btn-icon.add {
    background-position-y: 2px;
}	
