/* icons to be used in stepper
add more icons as needed */

.icon-setup {
  background-image: url("icons/setup_2166734_bk.svg");
}

.icon-design {
  background-image: url("icons/design_753184_bk.svg");
}

.icon-export {
  background-image: url("icons/export_87059_bk.svg");
  background-position: 2px 2px !important;
  background-size: 24px 24px !important ;
}

.icon-file {
  background-image: url("icons/file_1884292_bk.svg");
  /*background-position: 3px 3px !important;
  background-size: 26px 26px !important ;*/
}

.icon-people {
  background-image: url("icons/user_65127_bk.svg");
}

.icon-applications {
  background-image: url("icons/applications_1226770_bk.svg");
  background-position: -2px -2px !important;
  background-size: 32px 32px !important ;
}

.icon-database {
  background-image: url("icons/database_2018397_bk.svg");
}

.icon-datacube {
  background-image: url("icons/datacube_38251_bk.svg");
  background-position: -1px -1px !important;
  background-size: 30px 30px !important ;
}

.icon-access{
  background-image: url("icons/access_2427140_bk.svg");
}

.icon-checklist {
  background-image: url("icons/check-list_50370_bk.svg");
}

.icon-validation {
  background-image: url("icons/verified_2396791_bk.svg");
}




