body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-family: Lato, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 10px 0px 0px 0px ;
    padding: 0px;
}

ul.stepper {
    counter-reset: section;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px ;
}

ul.stepper.h {
    min-height: 80px;
    white-space: nowrap;
}

ul.stepper>li.step {
    list-style: none;
    position: relative;
    background-color: transparent;
    transition: background-color 0.4s   ;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}

ul.stepper.v>li.step {
    display: block;
    transition: padding-bottom .4s cubic-bezier(.4,0,.2,1)  ;
}

ul.stepper.h>li.step {
    display: inline-block;
 /*   max-width: 350px;*/
   height: 32px;
    transition:  padding-right .4s cubic-bezier(.4,0,.2,1);
    padding: 10px 0px 40px 0px;
}

ul.stepper>li.step.active  {
    background-color: rgba(196, 241, 245, 0.22);
}
ul.stepper.v>li.step.active  {
    padding-bottom: 20px;
}
ul.stepper.h>li.step.active  {
    padding-right: 10px;
}

ul.stepper>li.step:hover {
    background-color: rgba(202, 202, 202, 0.25)
}

ul.stepper>li.link:hover {
    cursor: pointer;
}

/* step icon (48x48) */
ul.stepper>li.step>div.icon-wrapper {
    position: absolute;
    left: 4px;
    top: 3px;
    width: 40px;
    height: 40px;
    background-color: #0088f3;
    border: 2px solid #0088f3;
    border-radius: 50px;
}

ul.stepper>li.step span.icon{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px ;
    background-size: 28px 28px ;
    filter: invert(1);  /* black to white*/
}

ul.stepper li.step.todo .icon-wrapper {
    background-color: #bbb;
    border: 2px solid #bbb;
  /* filter: saturate(0) brightness(10);*/
}

ul.stepper li.step.active .icon-wrapper {
    background-color: #0088f3;
    border: 2px solid #0088f3;
}

/* step title with link */
ul.stepper>li.step>div.title {
    font-size: 1.2em;
    margin: 0px;
    padding: 12.5px 60px 6px 55px;
    display: block
}

ul.stepper.h>li.step>div.title {
   position: relative;
    align: center;
    top: 25px;
}

ul.stepper .step.active .title {
    font-weight: bold;
}

ul.stepper div.title  {
    color: #111d39;
}

ul.stepper li.step.todo .title {
    color: #bbb;
}

ul.stepper li.step.active .title {
    color: #0088f3;
}

ul.stepper li.link:hover div.title {
    text-decoration: underline;
    color: #0088f3;
}

ul.stepper.show-numbers>li.step>div.title {
    padding-left: 55px;
}

/* step status icon */
ul.stepper span.status{
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

ul.stepper.v span.status{
    right: 10px;
    top: 25px;
}

ul.stepper.h span.status{
    right: 15px;
    top: 35px;
}

ul.stepper li.step.done span.status {
    background-image: url("img/check.svg");
}

ul.stepper li.step.error span.status {
    background-image: url("img/delete.svg");
}

ul.stepper li.step.warning span.status {
    background-image: url("img/warning.svg");
}

/* step description */
ul.stepper>li.step>div.desc {
    font-size: 0.8em;
    display: block;
}

ul.stepper.v>li.step>div.desc {
    position: relative;
    height: auto;
    width: inherit;
    overflow: hidden;
    margin: 0px 60px 10px 55px;
}

ul.stepper.h>li.step>div.desc {
    position: absolute;
    top: 70px;
    height: auto;
    overflow: visible;
}

ul.stepper.v.popup-help .step .desc {
    height: auto;
    max-height: 0px;
    display: block;
    transition: max-height 1s ease-in-out 0.2s ;
}

ul.stepper.v.popup-help .step:hover .desc {
    max-height: 300px;
}

/*  line separators  */
ul.stepper > li.step > div.line {
    position: absolute;
    background-color: #0088f3;
}

/*  line separators vertical */

ul.stepper.v > li.step > div.line {
    top: 40px;
    left: 25px;
    width: 2px;
    height: calc(100% - 26px);
}

ul.stepper.v > li.step.todo > div.line {
    background-color: transparent;
    background-image: url("img/vlinedot.png");
    background-repeat: repeat-y;
    width: 3px;
}

/* line separators horizontal */
ul.stepper.h > li.step > div.line{
    top: 24px;   
    height: 2px;
    left: calc( 50% + 12px);
    width:  calc(100% - 12px);
}

ul.stepper.h > li.step.todo > div.line {
    background-color: transparent;
    background-image: url("img/hlinedot.png");
    background-repeat: repeat-x;
    height: 3px;
    left: calc( 50% + 12px );
    width: calc(100% - 15px );
}

/*  eof line separators */

ul.stepper.v>li:not(:last-of-type) {
    padding-bottom: 10px;
}

/* numbered circle (::after) */

ul.stepper.show-numbers .number {
    position: absolute;
    height: 24px;
    width: 24px;
    color: #0088f3;
    border: 2px solid #0088f3;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    transition: background-color .4s cubic-bezier(.4,0,.2,1);
    font-size: 1em;
    left: 12px;
    top: 13px;
}

ul.stepper.h.show-numbers .number {
    left: calc(50% - 16px);
    top: 11px;
}

ul.stepper.show-numbers .step.todo .number {
    background-color: white;
    border: 2px solid #CCC;
    color: #CCC;
}

ul.stepper.show-numbers .step.active .number {
    background-color: #0088f3;
    border: 2px solid #0088f3;
    color: white;
}









