Composite.page-header {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

/* redefine for all pages */
CLabel.page-toolbar-title {
  font: 28px  Segoe UI, roboto , sans-serif;
  color: #444;
  border: none;
  padding: 0 ;
}

Composite.page-dashboard {
  background-color: #F5F5F5; 
}

Composite.round {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #CCC;
  padding: 10px;
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

Composite.round-help {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #CCC;
  padding: 10px;
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

Composite.round-nopadding {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #CCC;
  padding: 0px;
  margin: 0px;
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}


Composite.hround-first {
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #CCC;
  padding: 10px; 
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

Composite.hround-middle {
  background-color: white;
  border-radius: 0px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px; 
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

Composite.hround-last {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #CCC;
  padding: 10px; 
  box-shadow: 2px 3px 3px rgba( 128, 128, 128, 0.1 );
}

Composite.vround-first {
  background-color: #fff;
   border-bottom: 1px solid #CCC;
}

Composite.vround-middle {
  background-color: #fff;
  border-bottom: 1px solid #CCC;
}

Composite.vround-last {
  background-color: #fff;
}

/* titled group*/
Label.group_title {
  background-color: transparent;
  background-image: none;
  padding: 10px 0px 0px 0px;
  color: #666
}

Table.page-medium{
  font: 16px  Segoe UI, roboto , sans-serif;
}

Composite.tile {
  background-color: #E7F0FD;
  border-radius: 10px;
  border: none;
  padding: 6px;
}

Composite.tile-compact {
  background-color: #E7F0FD;
  border-radius: 10px;
  border: none;
  padding: 0px;
}



